/*login register forms  */
:host {
    width: 100%;
}

form.login {
    width: 50%;
    margin: auto;
    text-align: center;
}

.login fieldset {
    border-radius: 0.3em;
    padding: 1.8em;
    margin-top: 50px;
    background-color: #ffffff;
}

.login h2{
    padding-top: 0;
    border-bottom: none;
}

.login p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.login input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    margin-left: 10px;
    border-left: 0.3em solid green;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}


.login button {
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
}


.login a {
    color: #007bff;
}

.login a:hover{
    cursor: pointer;
   
}

.login .field {
    display: flex;
    padding-bottom: 0;
}

/* errors  */

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.input-error {
    border-left-color: red;
}