<div *ngIf="!!photo; else loadingIndicator" class="photo-content">
    
    <div class="photo-title">
        <div class="photo-name-wrapper">
            <div class="photo-name">
                <h2>{{ photo.photoTitle}}</h2>
                <img src="{{photo.photoUrl}}" alt="">
                <p>Genre: <span>{{photo.photoGenre}}</span></p>
                <p>EXIF: <span>{{photo.photoExif}}</span></p>
                <p>Date: <time> {{photo.created_at | date:'short'}}</time></p>
                <p>Votes: <span>{{photo.subscribers.length}}</span></p>
                <p>Author: <span>{{photo.userId.username}}    </span> <img src="{{photo.userId.profilePicture}}" alt="" class="avatar"></p>
                <div class="votes">
                    <ng-container *ngIf="(isLoggedIn$ | async)">
                        <button  (click)="subscribe()" *ngIf="canSubscribe && !isUserOwner" class="vote">Vote</button>
                        <button  (click)="unsubscribe()" *ngIf="!canSubscribe && !isUserOwner"  class="unvote">Remove vote</button>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>


</div>


<ng-template #loadingIndicator>
    Loading...
</ng-template>