:host {
    width: 100%;
}

.photo-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

img {
    max-width: 800px;
    max-height: 1000px;
}

.photo-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.5em;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
}

.photo-title {
    padding: 0;
}

.photo-name {
    width: 100%;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.votes {
    flex-basis: 25%;
}

.votes button {
    padding: 0.4rem 2rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    width: 20%;
}

.vote {
    background-color: green;
}

.unvote {
    background-color: red;
}

.photo-title {
    width: 100%;
}

.photo-name-wrapper .subscribers p {
    text-align: right;
}

.photo-name {
    margin-right: 1em;
}

.photo-name h2 {
    padding-top: 0;
}



.avatar {
    max-width: 50px;
}