<div class="profile"><img [src]="(currentUser$ | async).profilePicture || '/assets/profile.png'" alt="default user">
    <h3>User Info:</h3>
    <ng-container *ngIf="(currentUser$ | async) as currentUser">
        <ng-container *ngIf="!(isInEditMode$ | async)">
            <div class="flex">
                <p>Username: </p>
                <p>{{currentUser.username}}</p>
            </div>
            <div class="flex">
                <p>Email: </p>
                <p>{{currentUser.email}}</p>
            </div>
            <div class="flex">
                <p>Photos: </p>
                <p>{{currentUser.photos[0].photoTitle}}</p>
            </div>
            <div class="flex">
                <p>Offers: </p>
                <p>{{currentUser.offers}}</p>
            </div>
            <div class="flex">
                <p>Password: </p>
                <p>{{currentUser.password}}</p>
            </div>
            
            <button (click)="enterEditMode(currentUser)" class="edit-button">Edit</button>
        </ng-container>

        <ng-container *ngIf="isInEditMode$ | async">
            <form #editProfileForm="ngForm" (ngSubmit)="updateProfile()">
                <div class="flex">
                    <p>Username: </p>
                    <input type="text" name="username" ngModel required minlength="5" id="username" value="{{currentUser$.username}}">
                </div>
                <div class="flex">
                    <p>Email: </p>
                    <input #email="ngModel" [class.input-error]="email.touched && email.invalid" type="email" name="email" id="email" ngModel required emailValidator value="john.doe@gmail.com">
                </div>
                <div class="flex">
                    <p>Profile picture: </p>
                    <input type="file" accept="image/png" id="profile-picture" (change)="handleProfilePictureChange($event)">
                </div>
                <button type="button" (click)="exitEditMode()"  class="red-button">Cancel</button>
                <button   [disabled]="editProfileForm.invalid" class="green-button">Save</button>
            </form>
        </ng-container>
    </ng-container>
</div>