<div *ngIf="!!offer; else loadingIndicator" class="photo-content">
    
    <div class="photo-title">
        <div class="photo-name-wrapper">
            <div class="photo-name">
                <h2>{{ offer.offerName}}</h2>
                <p>Offer type: <span>{{offer.buyOrSell}}</span></p>
                <p>Equipment type: <span>{{offer.cameraOrLens}}</span></p>
                <img [src]="(offer.offerPhoto || '/assets/profile.png')" alt="default user">
                <p>Contact: <span>{{offer.offerContact}}</span></p>
                <p>Description: <span>{{offer.offerDescription}}</span></p>
                <p>Posted <time> {{offer.created_at | timeAgo}}</time> ago.</p>
                <p>Author: <span>{{offer.userId}}</span></p>
            </div>
            <div class="subscribers">
                <p>Interested: <span>{{offer.interested.length}}</span></p>
                <ng-container *ngIf="(isLoggedIn$ | async)">

                </ng-container>
            </div>
        </div>
    </div>

</div>

<ng-template #loadingIndicator>
    Loading...
</ng-template>