<form >
    <input [formControl]="searchControl" type="text" placeholder="Search for posts">

  </form>
  
  <div *ngIf="photoList">
    <app-photos-item *ngFor="let photo of photoList" [photo]="photo"></app-photos-item>
    <div *ngIf="photoList.length === 0">No photos</div>
  </div>
  <div *ngIf="!photoList">
    Loading...
  </div>
  <div>
    <button [disabled]="currentPage === 0" (click)="goOnePageBack()">Previous page</button>
    Showing {{currentPage * pageSize}}-{{(currentPage+1)}} of {{totalResults}} results.
    <button [disabled]="(currentPage + 1) * pageSize >= totalResults" (click)="goOnePageForward()">Next page</button>
  </div>