<div class="welcome">
    <h3>Welcome!</h3>
    <p>IN PROGRESS!!!</p>
        <img src="https://kinkypotionportiondotcom.files.wordpress.com/2019/08/bass-sea-festival-2019-lemouserat-photography.jpg" alt="">
    <div class="logged" >
        <ul>
            <li>
                <a href="#">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            <li>
                <a href="/register">
                    <i class="fas fa-user-plus"></i>
                    Register
                </a>
            </li>
        </ul>
    </div>
</div>   