/* welcome component */

.welcome {
    padding: 0.3em 0.5em;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
}

.welcome h3 {
    background-color: rgb(13, 109, 104);
    width: 97%;
    padding: 0.3em 1em;
    color: white;
    font-size: larger;
}

.welcome h4 {
    font-weight:bolder;
    font-size: larger;
    padding: 0.3em 1em;
    color: rgb(13, 109, 104);
    border-bottom: 1px solid #999;
}

.welcome p {

    font-style: normal;
    font-size: large;
}

.logged  a {
    color: white;
    text-decoration: none;
    background-color: #0f8063;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 5.2em;
    margin: 1em;
}

.logged  a:hover {
    cursor: pointer;
}

.logged ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 1em;
}

.logged li {
    list-style: none;
}

.liAnim {
    font-size: large;
}

img {
    max-width: 1100px;
}
