:host {
    width: 100%;
}


.new-photo-border {
    border: 1px solid;
    border-radius: 1em;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
}

.new-photo-border .input {
    margin-bottom: 1em;
}

.header-background {
    background-color: #169b89;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.header-background span {
    padding: 0.5em;
    margin-top: 1em;
    color: white;
    font-size: 30px;
}

.title, .new-photo-exif {
    display: flex;
    flex-direction: column;
}

.new-photo-exif {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.new-photo-exif textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0;
}

.new-photo-exif label {
    margin-bottom: 0.3em;
}

.new-photo-title input {
    width: 55%;
    border-radius: 0.3em;
    padding: 0.35em;
}

.new-photo-url label{
    margin-bottom: 1em;
}

button+button {
    margin-left: 1rem;
}

.new-photo-buttons {
    margin-top: 1em;
    text-align: center;
}

.new-photo-buttons button {
    padding: 0.4em 1.5em;
    border: 1px solid #e6e6e6;
    border-radius: 0.3em;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.input-error {
    border-left-color: red;
}

.contact {
    margin: 0px;
    padding: 0px;
    color: #105f55;
}