/*login register forms  */
:host {
    width: 100%;
}

form {
    width: 60%;
    margin: 2em auto 0;
    text-align: center;
}

 .register fieldset {
    border-radius: 0.3em;
    padding: 1.8em;
    background-color: #ffffff;
}

 .register h2 {
    padding-top: 0;
    border-bottom: none;
}

 .register p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.register input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    margin-left: 10px;
    border-left: 0.3em solid green;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.register button {
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
}


 .register a:hover {
    cursor: pointer;
}

.register .tel {
    padding-right: 0.8em;
}

 .register .field {
    display: flex;
    padding-bottom: 0;
}

/* errors  */

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.register .input-error {
    border-left-color: red;
}